.hero {
  height: 400px;
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.hero > .container {
  display: flex;
}

.hero-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 400px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  margin-top: 100px;
  padding: 50px;
  font-size: 12px;
}

.hero-box button {
  all: unset;
  background-color: lightseagreen;
  color: white;
  padding: 20px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.hero-box > button:hover {
  cursor: pointer;
}
