.no-scroll {
  overflow: hidden;
}

.modal-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  max-height: 90vh;
  overflow-y: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal > button {
  all: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: lightcoral;
}

.modal > button:hover {
  cursor: pointer;
}

.modal > h1 {
  margin-bottom: 30px;
}

.modal > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal > form > input {
  all: unset;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid red;
}

.modal > form > input:last-of-type {
  margin-bottom: 20px;
}

.modal > form > .newsletter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.modal > form > .newsletter > input {
  height: 30px;
  width: 30px;
}

.modal > form > .terms-of-use {
  color: gray;
  margin-bottom: 50px;
}

.modal > form > button {
  all: unset;
  background-color: lightseagreen;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 25px;
  border-radius: 5px;
}

.modal > form > button:hover {
  cursor: pointer;
}

.modal > form > .redirect {
  text-align: center;
  color: teal;
}

.modal > form > .redirect {
  cursor: pointer;
}

.modal > form > .errorMessage {
  color: red;
  font-size: 15px;
  text-align: center;
}
