.main-publish {
  background-color: #ebedee;
  height: 100vh;
}

.main-publish h2 {
  font-size: 24px;
}

.form-publish {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.form-publish > article,
.item-pricing-col2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  font-size: 12px;
}

.form-publish > article {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 30px;
  font-size: 20px;
}

.form-publish > article > section {
  display: flex;
  flex-direction: row;
}

.form-publish > article > section > * {
  width: calc(100% / 2);
}

.item-trade {
  display: flex;
  gap: 10px;
}

.form-publish > article > section input[type="text"] {
  all: unset;
  font-size: 20px;
  border-bottom: 1px solid lightgray;
  color: black;
  width: 50%;
}

.form-publish > button {
  all: unset;
  width: 200px;
  align-self: flex-end;
  background-color: #0ab1ba;
  color: white;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.form-publish > button:hover {
  cursor: pointer;
}
